[Desktop Entry]

Type=Application
Version=1.0
Name=Soundboard
GenericName=Soundboard
Exec=/usr/bin/Soundboard
Icon=/usr/share/pixmaps/soundboard-icon.jpg
Terminal=false
Categories=Audio;Music;Player;AudioVideo;
Comment=A universal soundboard using pulseaudio modules
